<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quirks</key>
	<dict>
		<key>AppleCpuPmCfgLock</key>
		<true/>
		<key>AppleXcpmCfgLock</key>
		<false/>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>CustomSMBIOSGuid</key>
		<false/>
		<key>DevirtualiseMmio</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableRtcChecksum</key>
		<true/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>LapicKernelPanic</key>
		<false/>
		<key>PanicNoKextDump</key>
		<true/>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<true/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<true/>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
	
	<key>ACPI</key>
	<dict>
	<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HPET._STA to XSTA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>FBJfU1RBAA==</data>
					<key>Replace</key>
					<data>FBJYU1RBAA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q6A,0,N) to XQ6A - F4 microphone mute</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2QQA=</data>
					<key>Replace</key>
					<data>WFE2QQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q15,0,N) to XQ15 - F5 brightness down</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNQA=</data>
					<key>Replace</key>
					<data>WFExNQA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q14,0,N) to XQ14 - F6 brightness up</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNAA=</data>
					<key>Replace</key>
					<data>WFExNAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q16,0,N) to XQ16 - F7 Dual display</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExNg==</data>
					<key>Replace</key>
					<data>WFExNg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q64,0,N) to XQ64 - F8 wireless</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2NAA=</data>
					<key>Replace</key>
					<data>WFE2NAA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q66,0,N) to XQ66 - F9 settings</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2Ng==</data>
					<key>Replace</key>
					<data>WFE2Ng==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q60,0,N) to XQ60 - F10 bluetooh</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2MA==</data>
					<key>Replace</key>
					<data>WFE2MA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q61,0,N) to XQ61 - F11 keyboard</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2MQ==</data>
					<key>Replace</key>
					<data>WFE2MQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q62,0,N) to XQ62 - F12 star</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E2Mg==</data>
					<key>Replace</key>
					<data>WFE2Mg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q1F,0,N) to XQ1F - Fn+Space keyboard backlight</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1ExRg==</data>
					<key>Replace</key>
					<data>WFExRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_Q74,0,N) to XQ74 - Fn+ESC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1E3NA==</data>
					<key>Replace</key>
					<data>WFE3NA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBIF,3,N) to XBIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JJRgM=</data>
					<key>Replace</key>
					<data>WEJJRgM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBIX,3,N) to XBIX</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JJWAM=</data>
					<key>Replace</key>
					<data>WEJJWAM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(GBST,4,N) to XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0JTVAQ=</data>
					<key>Replace</key>
					<data>WEJTVAQ=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(AJTP,3,N) to XJTP</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QUpUUAM=</data>
					<key>Replace</key>
					<data>WEpUUAM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(_L17,0,N) to XL17</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0wxNwA=</data>
					<key>Replace</key>
					<data>WEwxNwA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Change Method(OWAK,1,N) to XWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>T1dBSwE=</data>
					<key>Replace</key>
					<data>WFdBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Name(_PRW) to ZPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>CF9QUlc=</data>
					<key>Replace</key>
					<data>CFpQUlc=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
				</dict>
			</array>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DisableASPM</key>
		<false/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>lilucpu=8 igfxonln=1 dart=0 bpr_probedelay=100 bpr_initialdelay=300 bpr_postresetdelay=300 brcmfx-country=#a -hbfx-dump-nvram brcmfx-driver=1</string>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>2</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>HDMIInjection</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>compatible</key>
				<string>pci8086,a102</string>
				<key>device-id</key>
				<data>AqEAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1c,0x6)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>WLAN</string>
				<key>compatible</key>
				<string>pci14e4,4331</string>
				<key>device_type</key>
				<string>Airport Extreme</string>
				<key>model</key>
				<string>BCM4350 802.11ac Wireless Network Adapter</string>
				<key>name</key>
				<string>Airport</string>
				<key>pci-aspm-default</key>
				<integer>0</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x0)</key>
			<dict>
				<key>compatible</key>
				<string>pci8086,9cc1</string>
				<key>device-id</key>
				<data>wZwAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>layout-id</key>
				<data>VgAAAA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x6)</key>
			<dict>
				<key>name</key>
				<string>Intel(R) Ethernet Connection (4) I219-LM</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AAAWGQ==</data>
				<key>device-id</key>
				<data>FhkAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>ThinkPad</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string></string>
		<key>ROM</key>
		<data>PaqK9oSi</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>06/26/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP141.88Z.0178.B00.1806260902</string>
		<key>Board-ID</key>
		<string>Mac-B4831CEBD52A0C4C</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02928902QXHWVP8C</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>SerialNumber</key>
		<string></string>
		<key>SmUUID</key>
		<string></string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#CustomUUID</key>
		<string></string>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
